@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* COLORES DE LA WEB

#ff5c4b - naranja
#fdc507 - amarillo
#f8f8f6 - blanco
#1f1f1f - negro

*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  scroll-behavior: smooth;
}
